{{set . "title" "Agent"}} {{template "header.html" .}}
		<div id="main" class="clearfix">
			<div class="secInfo">
				<h1 class="secTitle">Messages</h1>
				<span class="secExtra">Chat &amp; other things</span>
			</div> <!-- /SecInfo -->

			
			<div class="fluid">
				
				<div class="widget leftcontent grid8">
					<div class="widget-header">
						<h3 class="widget-title">Messaging System</h3>
						<div class="widget-controls">
							<input type="checkbox" class="sl" id="slider-inputs" checked />
	  						<label class="slider" for="slider-inputs"></label>
	  						<div class="btn-group xtra"> <!-- btn dd -->
								<a href="#" onclick="return false;" class="icon-button dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
								<ul class="dropdown-menu pull-right">
	                                    <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
	                                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
	                                    <li><a href="#"><i class="fa fa-ban"></i> Ban</a></li>
	                                    <li class="divider"></li>
	                                    <li><a href="#"> Other actions</a></li>
	                                </ul>
                            </div><!-- /btn dd -->
						</div>
					</div>
					
					<div class="widget-content pad10">

						<div class="comment">
							
							<div class="comment-header">
								<div class="comment-person">
									<div class="comment-img">
										<img src="images/comm-1.jpg" rel="comment-1">
									</div>
									<div class="comment-hex hex-green"></div>
								</div>
								<div class="comment-info">
									<div class="c-name">John Stone</div>
									<div class="c-time">3 hours ago</div>
								</div>
								<a href="#" onclick="return false;" class="icon-button btn-reply"><i class="fa fa-reply"></i></a>
								<div class="c-ip">IP: <span class="ip">172.10.56.3</span></div>
							</div> <!-- /comment-header -->
							
							<div class="comment-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
							</div> <!-- /comment-text -->
						</div> <!-- /comment -->

						<div class="comment">
							
							<div class="comment-header">
								<div class="comment-person">
									<div class="comment-img">
										<img src="images/comm-3.jpg" rel="comment-1">
									</div>
									<div class="comment-hex hex-green"></div>
								</div>
								<div class="comment-info">
									<div class="c-name">John Stone</div>
									<div class="c-time">3 hours ago</div>
								</div>
								<a href="#" onclick="return false;" class="icon-button btn-reply"><i class="fa fa-reply"></i></a>
								<div class="c-ip">IP: <span class="ip">172.10.56.3</span></div>
							</div> <!-- /comment-header -->
							
							<div class="comment-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
							</div> <!-- /comment-text -->

							<div class="comment-reply">
								<div class="reply-header">
									<div class="reply-person">
										<div class="comment-img">
											<img src="images/comm-3.jpg" rel="comment-1">
										</div>
										<div class="comment-hex hex-green"></div>
									</div>
									<div class="reply-info">
										<div class="c-name">John Stone</div>
										<div class="c-time">2:36 pm</div>
									</div>
									<div class="c-ip">IP: <span class="ip">172.10.55.3</span></div>
								</div>

								<div class="comment-text">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
								</div> <!-- /comment-text -->
							</div> <!-- /comment-reply -->
							<div class="comment-reply">
								<div class="reply-header">
									<div class="reply-person">
										<div class="comment-img">
											<img src="images/comm-3.jpg" rel="comment-1">
										</div>
										<div class="comment-hex hex-green"></div>
									</div>
									<div class="reply-info">
										<div class="c-name">John Stone</div>
										<div class="c-time">2:36 pm</div>
									</div>
									<div class="c-ip">IP: <span class="ip">172.10.55.3</span></div>
								</div>

								<div class="comment-text">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
								</div> <!-- /comment-text -->
							</div> <!-- /comment-reply -->
						</div> <!-- /comment -->

						<div class="comment">
							<div class="comment-header">
								<div class="comment-person">
									<div class="comment-img">
										<img src="images/comm-2.jpg" rel="comment-1">
									</div>
									<div class="comment-hex hex-yellow"></div>
								</div>
								<div class="comment-info">
									<div class="c-name">Anna Andreson</div>
									<div class="c-time">6 hours ago</div>
								</div>
								<a href="#" onclick="return false;" class="icon-button btn-reply"><i class="fa fa-reply"></i></a>
								<div class="c-ip">IP: <span class="ip">172.10.56.3</span></div>
							</div> <!-- /comment-header -->
							
							<div class="comment-text">
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
							</div> <!-- /comment-text -->

							<div class="comment-reply">
								<div class="reply-header">
									<div class="reply-person">
										<div class="comment-img">
											<img src="images/comm-3.jpg" rel="comment-1">
										</div>
										<div class="comment-hex hex-green"></div>
									</div>
									<div class="reply-info">
										<div class="c-name">John Stone</div>
										<div class="c-time">2:36 pm</div>
									</div>
									<div class="c-ip">IP: <span class="ip">172.10.55.3</span></div>
								</div>

								<div class="comment-text">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
								</div> <!-- /comment-text -->
							</div> <!-- /comment-reply -->

						</div> <!-- /comment -->
						
					</div> <!-- /widget-content -->

				</div> <!-- /widget -->

				<div class="widget grid4">

					<div class="widget-header">
						<h3 class="widget-title">Toastr</h3>
						<div class="widget-controls">
							<input type="checkbox" class="sl" id="slider-toastr" checked />
	  						<label class="slider" for="slider-toastr"></label>
	  						<div class="btn-group xtra"> <!-- btn dd -->
								<a href="#" onclick="return false;" class="icon-button dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
								<ul class="dropdown-menu pull-right">
	                                    <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
	                                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
	                                    <li><a href="#"><i class="fa fa-ban"></i> Ban</a></li>
	                                    <li class="divider"></li>
	                                    <li><a href="#"> Other actions</a></li>
	                                </ul>
                            </div><!-- /btn dd -->
						</div>
					</div>

					<div class="widget-content pad20">

						<div class="btns center">	
							<button id="toastr-success" class="btn btn-green">Toastr Success</button>
							<button id="toastr-info" class="btn btn-aqua">Toastr Info</button>
							<button id="toastr-error" class="btn btn-red">Toastr Error</button>
							<button id="toastr-warning" class="btn btn-yellow">Toastr Warning</button>
							<div class="divider"></div>
							<button id="toastr-clear" class="btn">Clear Toastrs</button>
						</div>

					</div>

				</div> <!-- /widget -->


				<div class="widget grid4">

					<div class="widget-header">
						<h3 class="widget-title w-off">Messenger</h3>
						<div class="widget-controls">
							<input type="checkbox" class="sl" id="slider-msgs" />
	  						<label class="slider" for="slider-msgs"></label>
						</div>
					</div>

					<div class="widget-content pad20 w-off">

						<div class="btns center">	
							<button id="msgr-simple" class="btn btn-aqua">Messenger Simple</button>
							<button id="msgr-error" class="btn btn-red">Messenger Error</button>
							<div class="divider"></div>
							<button id="msgr-clear" class="btn btn-green">Clear Messenger</button>
						</div>

					</div>

				</div> <!-- /widget -->


				<div class="widget grid4">

					<div class="widget-header">
						<h3 class="widget-title">Modals</h3>
						<div class="widget-controls">
							<input type="checkbox" class="sl" id="slider-modals" checked />
	  						<label class="slider" for="slider-modals"></label>
	  						<div class="btn-group xtra"> <!-- btn dd -->
								<a href="#" onclick="return false;" class="icon-button dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
								<ul class="dropdown-menu pull-right">
	                                    <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
	                                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
	                                    <li><a href="#"><i class="fa fa-ban"></i> Ban</a></li>
	                                    <li class="divider"></li>
	                                    <li><a href="#"> Other actions</a></li>
	                                </ul>
                            </div><!-- /btn dd -->
						</div>
					</div>

					<div class="widget-content pad20">

						<div class="btns center">

							<a href="#myModal" role="button" class="btn btn-blue btn-light-text" data-toggle="modal" data-target="#myModal">Bootstrap modal</a>
							
							<p class="marginTop20">Vex Modals</p>
							<button id="vex-modal-alert" class="btn btn-yellow">Vex Alert</button>
							<button id="vex-modal-confirm" class="btn btn-green">Vex Confirm</button>
							<button id="vex-modal-theme-flat-attack" class="btn btn-aqua">Vex Theme Flat Attack</button>
							<button id="vex-modal-theme-os" class="btn btn-blue">Vex Theme OS</button>
							<button id="vex-modal-theme-plain" class="btn btn-lavender">Vex Theme Plain</button>
							<button id="vex-modal-theme-top" class="btn btn-red">Vex Theme Top</button>
							<button id="vex-modal-theme-wireframe" class="btn btn-orange">Vex Theme Wireframe</button>
						
						</div> <!-- /center -->


						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
						      </div>
						      <div class="modal-body">
						        Modal body
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-light-grey" data-dismiss="modal">Close</button>
						        <button type="button" class="btn">Save changes</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->

					</div> <!-- /widget-content -->

				</div> <!-- /widget -->
				

				</div> <!-- /fluid -->

			</div> <!-- /main -->


		</div>  <!-- /wrapper -->

	{{template "footer.html" .}}