<div class="widget-content pad20">
						<p class="subtitle">Small buttons</p>
						<div class="icon-grp">
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-adjust"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-download"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-repeat"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-file"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-camera"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-barcode"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-camera"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-bell"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-asterisk"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-cloud"></i></a>

							<a href="#" onclick="return false;" class="icon-button">
								<i class="glyphicon glyphicon-envelope"></i>
								<span class="badge badge-yellow">1</span>
							</a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-minus"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-flag"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-music"></i></a>
							<a href="#" onclick="return false;" class="icon-button">
								<i class="glyphicon glyphicon-star"></i>
								<span class="badge">3</span>
							</a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-gift"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-glass"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-globe"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-film"></i></a>
							<a href="#" onclick="return false;" class="icon-button">
								<i class="glyphicon glyphicon-headphones"></i>
								<span class="badge badge-green">5</span>
							</a>

							<a href="#" onclick="return false;" class="icon-button">
								<i class="glyphicon glyphicon-heart"></i>
								<span class="badge badge-red">10</span>
							</a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-home"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-inbox"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-euro"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-plus"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-search"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-star-empty"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-zoom-in"></i></a>

							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-zoom-out"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-aqua"><i class="glyphicon glyphicon-signal"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-print"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-red"><i class="glyphicon glyphicon-home"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-file"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-grey"><i class="glyphicon glyphicon-time"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-road"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-blue"><i class="glyphicon glyphicon-download-alt"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-download"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-green"><i class="glyphicon glyphicon-upload"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-cloud"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-yellow"><i class="glyphicon glyphicon-file"></i></a>
							<a href="#" onclick="return false;" class="icon-button"><i class="glyphicon glyphicon-repeat"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-aqua"><i class="glyphicon glyphicon-refresh"></i></a>
							
						</div>
						<p class="subtitle">Medium buttons</p>
						<div class="icon-grp">
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-list-alt"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-lock"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium">
								<i class="glyphicon glyphicon-calendar"></i>
								<span class="badge badge-red">5</span>
							</a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-camera"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-check"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium">
								<i class="glyphicon glyphicon-cloud"></i>
								<span class="badge badge-blue">2</span>
							</a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-file"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-pencil"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-cog"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium">
								<i class="glyphicon glyphicon-comment"></i>
								<span class="badge">4</span>
							</a>

							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-heart"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium icon-color-aqua"><i class="glyphicon glyphicon-upload"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-film"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium icon-color-red"><i class="glyphicon glyphicon-check"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-pencil"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium icon-color-blue"><i class="glyphicon glyphicon-phone"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-btc"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium icon-color-green"><i class="glyphicon glyphicon-xbt"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium"><i class="glyphicon glyphicon-yen"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-medium icon-color-yellow"><i class="glyphicon glyphicon-jpy"></i></a>
						</div>
						<p class="subtitle">Big buttons</p>
						<div class="icon-grp">
							<a href="#" onclick="return false;" class="icon-button icon-big"><i class="glyphicon glyphicon-apple"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-big"><i class="glyphicon glyphicon-heart"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-big"><i class="glyphicon glyphicon-lamp"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-big">
								<i class="glyphicon glyphicon-bitcoin"></i>
								<span class="badge">5</span>
							</a>
							<a href="#" onclick="return false;" class="icon-button icon-big"><i class="glyphicon glyphicon-hourglass"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-big"><i class="glyphicon glyphicon-sunglasses"></i></a>
							
							<a href="#" onclick="return false;" class="icon-button icon-big icon-color-aqua">
								<i class="glyphicon glyphicon-xbt"></i>
								<span class="badge badge-grey">5</span>
							</a>
							<a href="#" onclick="return false;" class="icon-button icon-big icon-color-red"><i class="glyphicon glyphicon-text-color"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-big icon-color-grey"><i class="glyphicon glyphicon-education"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-big icon-color-blue"><i class="glyphicon glyphicon-file"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-big icon-color-green"><i class="glyphicon glyphicon-piggy-bank"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-big icon-color-yellow"><i class="glyphicon glyphicon-rub"></i></a>
						</div>
					</div> <!-- /widget-content -->

					<div class="divider"></div>

				</div> <!-- /widget -->
				
			</div> <!-- /fluid -->

			<div class="fluid">

				<div class="widget leftcontent grid6">
					<div class="widget-header">
						<h3 class="widget-title">Progress Bars</h3>
						<div class="widget-controls">
							<input type="checkbox" class="sl" id="slider-comm" checked />
	  						<label class="slider" for="slider-comm"></label>
	  						
	  						<div class="btn-group xtra"> <!-- btn dd -->
								<a href="#" onclick="return false;" class="icon-button dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
							 		<ul class="dropdown-menu pull-right">
	                                    <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
	                                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
	                                    <li><a href="#"><i class="fa fa-ban"></i> Ban</a></li>
	                                    <li class="divider"></li>
	                                    <li><a href="#"><i class="i"></i> Make admin</a></li>
	                                </ul>
                            </div><!-- /btn dd -->

						</div> <!-- /widget-controls -->
					</div> <!-- /widget-header -->
					<div class="widget-content pad20">
						
						<p class="subtitle">Basic</p>
						<div class="progress">
						  <div class="progress-bar bar-blue" style="width: 60%;"></div>
						</div>
						<div class="progress">
						  <div class="progress-bar bar-aqua" style="width: 60%;"></div>
						</div>
						<div class="progress">
						  <div class="progress-bar bar-green" style="width: 60%;"></div>
						</div>

						<p class="subtitle">Striped</p>
						<div class="progress progress-striped">
						  <div class="progress-bar bar-aqua" style="width: 20%;"></div>
						</div>
						<div class="progress progress-striped">
						  <div class="progress-bar bar-grey" style="width: 15%;"></div>
						</div>
						<div class="progress progress-striped">
						  <div class="progress-bar bar-red" style="width: 40%;"></div>
						</div>

						<p class="subtitle">Active</p>
						<div class="progress progress-striped active">
						  <div class="progress-bar bar-aqua" style="width: 40%;"></div>
						</div>
						<div class="progress progress-striped active">
						  <div class="progress-bar bar-red" style="width: 70%;"></div>
						</div>
						<div class="progress progress-striped active">
						  <div class="progress-bar bar-green" style="width: 25%;"></div>
						</div>
						<div class="progress progress-striped active">
						  <div class="progress-bar bar-yellow" style="width: 94%;"></div>
						</div>

						<div class="progress progress-striped active">
						  <div class="bar bar-grey" style="width: 94%;"></div>
						</div>
						
						<p class="subtitle">Stacked</p>
						<div class="progress">
						  <div class="progress-bar bar-green" style="width: 35%;"></div>
						  <div class="progress-bar bar-yellow" style="width: 20%;"></div>
						  <div class="progress-bar bar-red" style="width: 10%;"></div>
						</div>
						<div class="progress">
						  <div class="progress-bar bar-grey" style="width: 15%;"></div>
						  <div class="progress-bar bar-blue" style="width: 40%;"></div>
						  <div class="progress-bar bar-aqua" style="width: 45%;"></div>
						</div>
						<div class="progress">
						  <div class="progress-bar bar-green" style="width: 10%;"></div>
						  <div class="progress-bar bar-turquoise" style="width: 10%;"></div>
						  <div class="progress-bar bar-aqua" style="width: 10%;"></div>
						  <div class="progress-bar bar-blue" style="width: 10%;"></div>
						  <div class="progress-bar bar-lavender" style="width: 10%;"></div>
						  <div class="progress-bar bar-red" style="width: 10%;"></div>
						  <div class="progress-bar bar-orange" style="width: 10%;"></div>
						  <div class="progress-bar bar-yellow" style="width: 10%;"></div>
						  <div class="progress-bar bar-grey" style="width: 10%;"></div>
						  <div class="progress-bar bar-black" style="width: 10%;"></div>
						</div>
					</div> <!-- /widget-content -->

					
				</div>  <!-- /widget -->

				<div class="widget grid6">
						<div class="widget-header">
							<h3 class="widget-title">More Things</h3>

							<div class="widget-controls">
								<input type="checkbox" class="sl" id="slider-more" checked />
		  						<label class="slider" for="slider-more"></label>	  						
							</div>
						</div>
						<div class="widget-content pad20">
							
							<p class="subtitle">Alerts</p>

							<div class="alert alert-warning">
							  <button type="button" class="close" data-dismiss="alert">&times;</button>
							  <strong>Warning!</strong> Best check yo self, you're not...
							</div>

							<div class="alert alert-danger">
							  <button type="button" class="close" data-dismiss="alert">&times;</button>
							  <strong>Uh Oh!</strong> Lorem ipsum dolor sit amet...
							</div>

							<div class="alert alert-success">
							  <button type="button" class="close" data-dismiss="alert">&times;</button>
							  <strong>That's Right!</strong> Duis imperdiet magna turpis...
							</div>

							<div class="alert alert-info">
							  <button type="button" class="close" data-dismiss="alert">&times;</button>
							  <strong>Ring!</strong> Nulla nec semper purus...
							</div>

							<p class="subtitle">Tooltips</p>

							<a href="#" onclick="return false;" class="icon-button icon-big icon-color-grey ttip ttip_medium" data-ttip="Lorem ipsum dolor sit amet, consectetur adipiscing elit."><i class="fa fa-quote-left"></i></a>

							<a href="#" onclick="return false;" class="icon-button icon-big icon-color-red ttip" data-ttip="Youtube"><i class="fa fa-youtube"></i></a>

							<br>

							<a href="#" onclick="return false;" class="icon-button icon-color-aqua ttip" data-ttip="550 Tweets" data-ttip-font="10px"><i class="fa fa-twitter"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-blue ttip" data-ttip="You Like it!" data-ttip-font="10px"><i class="fa fa-facebook"></i></a>
							<a href="#" onclick="return false;" class="icon-button icon-color-grey ttip" data-ttip="Fork Me!" data-ttip-font="10px"><i class="fa fa-github"></i></a>

							<p class="subtitle">Hexagons</p>

							<a href="#" class="hexagon hexa-widget aqua ttip" data-ttip="Add More..."><i class="fa fa-plus"></i></a>
							<a href="#" class="hexagon hexa-widget red ttip" data-ttip="Max Volume"><i class="fa fa-volume-up"></i></a>
							<a href="#" class="hexagon hexa-widget blue ttip" data-ttip="Lorem Euro"><i class="fa fa-euro"></i></a>
							<a href="#" class="hexagon hexa-widget green ttip" data-ttip="cmd + Z 'ing"><i class="fa fa-undo"></i></a>
							<a href="#" class="hexagon hexa-widget grey ttip" data-ttip="View all site"><i class="fa fa-sitemap"></i></a>
							<a href="#" class="hexagon hexa-widget yellow ttip" data-ttip="Shipping-pong"><i class="fa fa-truck"></i></a>
							<a href="#" class="hexagon hexa-widget aqua ttip" data-ttip="Music is life!"><i class="fa fa-music"></i></a>
							<a href="#" class="hexagon hexa-widget orange ttip" data-ttip="Searching..."><i class="fa fa-search"></i></a>

						</div> <!-- /widget-content -->