{{set . "title" "Login User"}} {{template "header.html" . }}

<div class="main">
    <div class="box-left ">
        <div align="center">
            <h1 font-color="black">Sign In</h1>
        </div>
        <form action="{{url "App.AuthApp"}}" method="POST" accept-charset="utf-8">
            {{with $field := field "username" .}}
            <div class="form-group">
                <input type="text" class="form-control" name="{{$field.Name}}" placeholder="Username">
            </div>
            {{end}}
            {{with $field := field "password" .}}
            <div class="form-group">
                <input type="password" class="form-control" name="{{$field.Name}}" placeholder="Password">
            </div>
            {{end}}
            {{with $field := field "remember" .}}
            <div class="checkbox">
            <label for="radior">
                <input type="checkbox" name="{{$field.Name}}" id="radior"> Remember me
            </label>
            </div>
            {{end}}
            <input type="submit" class="btn btn-primary btn-md" value="Register">
        </form>
    </div>

    <div class="box-right page-divider">

        <div align="center" class="sos-content">
            <h1 font-color="white">Sign In</h1>
            <i>with one of your social profile</i><br>
            <img src="/public/img/f.png" />
            <img src="/public/img/tw.png" />
            <img src="/public/img/g.png" />
        </div>
        <br/>
        <center>Don't have an account ?</center>
        <center><a href="{{url "App.Register"}}"> Register</center>
            <span>OR</span>
        </div>
    </div>

{{template "footer.html" . }}