{{set . "title" "Register User"}}
{{template "header.html" . }}

<div class="container">
   <div class="main">
        <div class="box-left ">
        <div align="center">
        <h1 font-color="black">Sign Up</h1>
        </div>
            <form action="{{url "App.AddUser"}}" method="POST" accept-charset="utf-8">
                 {{with $field := field "user.Nama" .}}
                <div class="form-group {{$field.ErrorClass}}">
                    <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Your Name">      <span class="error">{{$field.Error}}</span>           
                </div>
                {{end}}
                  {{with $field := field "user.Email" .}}
                <div class="form-group {{$field.ErrorClass}}">
                    <input type="email" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Your Email">   <span class="error">{{$field.Error}}</span>             
                </div>
                {{end}}
                {{with $field := field "user.Username" .}}
                <div class="form-group {{$field.ErrorClass}}">
                    <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Username">      <span class="error">{{$field.Error}}</span>           
                </div>
                {{end}}
                {{with $field := field "password" .}}
                <div class="form-group {{$field.ErrorClass}}">
                    <input type="password" class="form-control" name="{{$field.Name}}" value="" placeholder="Password">          <span class="error">{{$field.Error}}</span>       
                </div>
                {{end}}
                {{if .flash}}
                    {{template "flash.html" .}}
                {{end}}
                <input type="submit" class="btn btn-primary btn-md" value="Register">
            </form>
        </div>

        <div class="box-right page-divider">
            
            <div align="center" class="sos-content" >
                <h1 font-color="white">Sign Up</h1>
                <i>with one of your social profile</i><br>
                <a href="{{url "App.RegisterWithFacebook"}}"><img src="/public/img/f.png" /></a>
                <a href="{{url "App.RegisterWithGPlus"}}"><img src="/public/img/g.png"/></a>
            </div>
            <center> Have a account ?</center>
            <center><a href="{{url "App.Login"}}"> SignIn</center>
            <span>OR</span>
        </div>
    </div>
    </div>
{{template "footer.html" . }}