{{set . "title" "Register User"}}
{{template "header.html" . }}

<div class="container">
    <div class="register-form">
    {{if .user}}
        <form action="{{url "App.AddUserWithSosmed"}}" method="POST" style="padding:none;margin-bottom:10px;">
        <div  align="center"><img class="form-child" src="../../../public/img/logo.png" height="50px" width="50px"></div>
        <div class="form-child" align="center"><h1 class="h3">Travel Agent Directory</h1></div>
        <div class="form-child-button" align="center">
            <h4 style="color:#a8aa9e">Register</h4>
        </div>
        {{with $field := field "user.Email" .}}
        <div class="input-group form-child">
            <span class="input-group-addon" id="basic-addon4" ><img src="../../../public/img/email.png" height="15px" width="15px"></span>
            <input type="text" class="form-control" name="{{$field.Name}}" aria-describedby="basic-addon4" id="email" placeholder="Emails" value="{{$field.Value}}">
        </div>
        {{end}}
        {{with $field := field "user.Nama" .}}
        <div class="input-group form-child">
            <span class="input-group-addon" id="basic-addon4" ><img src="../../../public/img/fullname.png" height="15px" width="15px"></span>
            <input type="text" class="form-control" name="{{$field.Name}}" aria-describedby="basic-addon4" id="nama" placeholder="Nama" value="{{$field.Value}}">
        </div>
        {{end}}
        {{with $field := field "user.Username" .}}
        <div class="input-group form-child">
            <span class="input-group-addon" id="basic-addon4" ><img src="../../../public/img/user.png" height="15px" width="15px"></span>
            <input type="text" class="form-control" name="{{$field.Name}}" aria-describedby="basic-addon4" id="username" placeholder="Username" value="{{$field.Value}}">
        </div>
        {{end}}
        {{with $field := field "password" .}}
        <div class="input-group form-child">
            <span class="input-group-addon" id="basic-addon4" ><img src="../../../public/img/pass.png" height="15px" width="15px"></span>
            <input type="password" class="form-control" name="{{$field.Name}}" aria-describedby="basic-addon4" id="password" placeholder="Password">
        </div>
        {{end}}
        {{with $field := field "verifyPassword" .}}
        <div class="input-group form-child">
            <span class="input-group-addon" id="basic-addon5" ><img src="../../../public/img/pass.png" height="15px" width="15px"></span>
            <input type="password" class="form-control" name="{{$field.Name}}" aria-describedby="basic-addon5" id="verifyPassword"  placeholder="Verify  Password">
        </div>
        {{end}}
            {{with $field := field "user.FbId" .}}
            <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}">
            {{end}}
            {{with $field := field "user.GplusId" .}}
            <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}">
            {{end}}
            {{with $field := field "user.TwitId" .}}
            <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}">
            {{end}}

        {{if .flash}}
            {{template "flash.html" .}}
            {{end}}
        <div class="form-child-button" align="center" style="margin-top:10px;">
            <input class="btn btn-primary btn-sm form-control" type="submit" value="Done" style="width:50%;">
        </div>
        </form>
    {{else}}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> You Don't have any process.
        </div>
    {{end}}
    </div>
    <script>
    $("body").on("contextmenu", "img", function(e) {
        return false;
    });
</script>
    {{template "footer.html" . }}